<div class="navigation text-center">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <%= link_to "HOME", "index.html", class:"btn-sophie btn-block" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to "WORK", "work.html", class:"btn-sophie btn-block" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to "ABOUT", "about.html", class:"btn-sophie btn-block" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to "CONTACT", "contact.html", class:"btn-sophie btn-block" %>
    </div>
  </div>
</div>
