<!-- <div class="container"> -->
  <div class="headers">
    <!-- Home -->
    <div class="left">
      <a class="right-item" href="/">Sophie Ianiro</a>
    </div>
    <!-- Right Navigation -->
    <div class="right">
      <a class="right-item" href="http://prosa.fr" target="_blank">Blog</a>
    </div>
  </div>
<!-- </div> -->
