<div class="navigation text-center">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <%= link_to "WORK", "work", class:"btn-sophie btn-block" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to "ARTICLES", "articles", class:"btn-sophie btn-block" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to "ABOUT", "about", class:"btn-sophie btn-block" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to "CONTACT", "contact", class:"btn-sophie btn-block" %>
    </div>
  </div>
</div>
