<!-- <div class="container"> -->
  <div class="headers">
    <!-- Home -->
    <div class="left">
      <% unless current_page.url == '/' %>
        <a class="left-item" href="/"><i class="fas fa-angle-left"></i> HOME</a>
      <% end %>
    </div>
    <!-- Right Navigation -->
    <div class="right">
      <%= link_to "BLOG", "http://prosa.fr", class:"right-item", target:"_blank" %>
    </div>
  </div>
<!-- </div> -->
