/* Main navbar */
.headers {
  background: white;
  height: 50px;
  // padding: 0px 30px;
  // padding: 20px 22vw;
  padding: 20px 22vw 0 22vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: $gray;
    &:hover {
      color: $blue;
    }
  }
}

/* Left section */
.left {

}

/* Right section */
.right {
}
