#clients {
  background-color: white;
  color: $gray;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.startups-logo {
  margin: 0 auto;
  width: 60vw;
  margin-top: 30px;
}
@media(max-width: 600px) {
  .startups-logo {
    margin-top: 0;
  }
}
.card-logo {
  height: 30px;
  background-size: contain;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 50px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
@media(max-width: 600px) {
  .logo {
    width: 100px;
  }
  .workshop-video {
    width: 80%;
  }
}

.workshop-video {
  margin: 0 auto;
  margin-top: 60px;
  width: 60%;
  margin-top: 50px;
}

@media(max-width: 600px) {
  .workshop-video {
    width: 80%;
  }
}

.quote {
  position: relative;
  top: -32px;
}

.clients-quotes {
  margin-top: 70px;
}
.quote-credentials {
  font-weight: 600;
}
