#contact{
  text-align: center;
  h2{
    margin-bottom: 50px;
  }
}
#contact-text{
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.socials {
  padding-top: 20px;
  font-size: 28px;
}
.social-item {
  margin: 0 15px;
}
@media(max-width: 600px) {
  .social-item {
    margin: 0 10px;
  }
}
