#contact {
  background-color: white;
  color: $gray;
  text-align: center;
}

.socials {
  padding-top: 20px;
  font-size: 28px;
}
.social-item {
  margin: 0 15px;
}
@media(max-width: 600px) {
  .social-item {
    margin: 0 10px;
  }
}
