#contact {
  background-color: white;
  color: $gray;
  text-align: center;
}
.contact-content {
  h1 {
    font-size: 26px;
  }
}
.socials {
  padding-top: 20px;
  font-size: 28px;
}
.social-item {
  margin: 0 15px;
}
