body {
  h1 {
    color: $blue;
    letter-spacing: 0.2em;
  }
  a {
    font-family: Quicksand;
  }
  p {
    margin: 0 0 20px;
    line-height: 1.6em;
  }
}
.content-wrapper {
  min-height: 100vh;
  // padding: 20px 320px;
  padding: 20px 22vw;
  background-color: white;
  display:flex;
  align-items: center;
}

#home {
  background-color: white;
  color: $gray;
  text-align: center;
}

.home-content {
  padding-top: 20px;
}

.home-title {
  padding-bottom: 20px;
}
.home-bio {
  padding-top: 20px;
}
.content-desc {
  padding: 20px 35px 0 35px;
}

// @media(max-width: 720px) {
//   .content-wrapper {
//     padding: 20px 20px;
//   }
// }
@media(max-width: 768px) {
  .content-wrapper {
    padding: 20px 10vw;
  }
}
@media(max-width: 425px) {
  .content-wrapper {
    padding: 20px 20px;
  }
}
