body {
  background-color: white;
  h1 {
    color: $gray;
    letter-spacing: 0.1em;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
  p {
    margin: 0 0 20px;
    line-height: 1.6em;
  }
}
// .content-wrapper {
//   min-height: 100vh;
//   padding: 20px 22vw;
//   background-color: white;
// }

.container-inner {
  height: calc(100vh - 66px);
}
@media(max-width: 600px) {
  .container-inner {
    height: 100%;
  }
}

#home {
  // padding-top: 20px;
  h1 {
    font-size: 42px;
  }
}
#home-title {
  padding-top: 160px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
@media(max-width: 500px) {
  #home-title {
    width: 80%;
  }
}
