#work {
  margin-bottom: 50px;
}
@media(max-width: 600px) {
  #work {
  }
}

// .card-project {
//   height: 60px;
//   background-size: contain;
//   background-position: center;
//   color: white;
//   background-repeat: no-repeat;
//   position: relative;
//   margin-top: 50px;
// }
// .project-company {
//   display: none;
// }
// .project-mission {
//   display: none;
// }

.card-project {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  // display: flex;
  // align-items: center;
  // justify-content: left;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
  p {
    font-size: 24px;
  }
  h2, p {
    display: none;
  }
  &:hover {
    h2, p {
      display: inline-block;
    }
  }
}
.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 5px;
  transition: .5s ease;
  background-color: #40537E;
}

.card-project:hover .overlay {
  opacity: 0.8;
}

.project-details {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 64px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
