#work {
  background-color: white;
  color: $gray;
  text-align: center;
}
.work-content {
  h1 {
    font-size: 26px;
  }
}

.logo {
  margin-top: 40px;
}
@media(max-width: 600px) {
  .logo {
    width: 100px;
  }
}

.workshop-video {
  margin-top: 60px;
}
