<!-- <div class="page-section"> -->
  <!-- <div class="page-content"> -->
    <div id="about">
      <h2>
        Let User Interface Speak
      </h2>
      <p>
        Hello! I’m a French UX Writer and Content Designer living in Paris. Passionate about design and copywriting, I help organizations create a clear and useful copy in product interfaces to help users reach a specific goal.
      </p>
      <p>
        I started working as Content and Product Marketer for tech companies. From there, I develop solid writing skills and learn a lot about the product area and user needs. I turned my experience to help some SaaS and Tech companies provide awesome experiences for their users.
      </p>
      <p>
        I can help you leverage research, find consistency of messaging, grow your brand through better content, and scale up the role of content in your business.
      </p>
      <div class="clients-quotes">
        <div class="row">
          <div class="col-sm-6">
            <div class="card card-quote">
              <div class="quote">
                Working with Sophie is not only taking advantage of her writing skills and knowledge in microcopy, but it's also learning a lot of things about user experience! It has been a very pleasant experience, and we will happily reproduce it if the opportunity comes again!
              </div>
              <div class="quote-credentials">
                <span class="client-name">Estelle Zeliszewski</span>, <span class="client-position">Content Manager</span> at <span class="client-company"><a href="https://www.shine.fr/", target="_blank">Shine</a></span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-quote">
              <div class="quote">
                 We’ve worked closely to scale the role of content in the company. Sophie is a highly skilled UX writer who brings interesting and forward-thinking ideas to the table that are consistently relevant, not only in France, but globally. She is user-centric and always thinking outside the box.
              </div>
              <div class="quote-credentials">
                <span class="client-name">Nina Reschovsky</span>, <span class="client-position">UK Marketing & Global Strategy Manager</span> at <span class="client-company"><a href="https://www.shine.fr/", target="_blank">AB Tasty</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--   </div>
</div> -->
