<div id="about">
  <div class="page-content">
    <h1>
      A PROPOS
    </h1>
    <div class="content-desc">
      <p>
        Après l'obtention de mon Master en Marketing & Communication en 2015, je débute ma carrière en tant que Responsable Inbound Marketing chez Uptilab. Une année après, je décide de me lancer en freelance pour me consacrer à la création de contenu et la mise en place d'une stratégie d'inbound marketing pour les startups !
      </p>
      <p>
        Passionnée par l'univers tech et digital.<br>
        Toujours à la recherche de projets innovants.
      </p>
    </div>
  </div>
</div>
