<div class="page-section">
  <div class="page-content">
    <div id="about">
      <h2>
        Small human. Boss surname.
      </h2>
      <p>
        I’m a French writer and content marketer living in Paris. Passionate about tech startup and SaaS, I work on a diverse range of projects to help company building their marketing strategy. I have been fortunate to work on a mix of local and global business during my career like AB Tasty, Shine, Alan, Comet, Spendesk, and Le Wagon.
      </p>
      <p>
        I started my career as Inbound Marketing Manager, during one year my objective was to generate leads and turn those leads into MQL. After this experience, I joined AB Tasty as Content Marketing Manager France for building a local content strategy. This project becomes my main freelancer mission for 2 years.
      </p>
      <p>
        As a freelancer, I'm writing, building a content strategy and also educating people about it.
      </p>
    </div>
  </div>
</div>
