<div id="about">
  <div class="about-content">
    <h2>
      Small human. Boss surname.
    </h2>
    <p>
      More importantly, I’m an Australian designer and art director living in Berlin, Germany. Passionate about design for both print and screen, I work on a diverse range of projects to help brands excel beyond these mediums. I have been fortunate to work on a mix of local and global brands during my career, some of which include Jetstar, Qantas, Macquarie Bank, The Australian Chamber Orchestra, Red Bull Music Academy and Ableton.

      My work has been recognised by organisations such as AgIdeas, the Design Institute of Australia and the International Society of Typographic Designers. I also once won a trophy for karate, which sounds impressive but is now of no use whatsoever.

      I spend a lot of my time writing a weekly newsletter called OMGLORD, sharing thoughts on design, creativity and handy resources. When I’m not at my computer I’m usually eating pineapple pizza, travelling to new places or riding my red bicycle about Berlin.
    </p>
  </div>
</div>
