<div id="articles">
  <div class="page-content">
    <h1>
      ARTICLES
    </h1>
    <div class="content-desc">
      <p>
        Quelques uns des articles que j'ai rédigé dans le cadre de mes différents projets :
      </p>
    </div>
    <div class="articles">
      <div class="row">
        <% data.article.articles.each do |article| %>
          <div class="col-xs-12 col-sm-4">
            <% link_to article["link"], target: "_blank" do %>
              <div class="card-article">
                <div class="article">
                  <div class="article-logo">
                    <img src=<%= article["logo"] %> alt="logo" style="height: 30px;">
                  </div>
                  <div class="article-title">
                    <%= article["title"] %>
                  </div>
                  <div class="article-image" style="background-image: url(<%= article["image"] %>);"></div>
                  <div class="article-footer">
                    <%= article["tag"] %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
