<div id="clients">
  <div class="page-content">
    <div class="content-desc">
      <div class="startups-logo">
        <div class="row">
          <% data.startups.startups.each do |startup| %>
            <div class="col-xs-6 col-md-3">
              <div class="card-logo" style="background-image: url(<%= startup["logo"] %>);">
                <a class="card-link" href=<%= startup["link"] %> ></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
