<div id="contact">
  <div class="contact-content">
    <h1>
      CONTACT
    </h1>
    <div class="content-desc">
      <p>
        Des projets ou des idées ?<br>
        Parlons-en !
      </p>
      <div class="socials">
        <ul class="list-inline">
          <li class="social-item">
            <a href="https://twitter.com/Sophia_niro", target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="social-item">
            <a href="https://www.linkedin.com/in/sophie-ianiro/", target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li class="social-item">
            <a href="https://medium.com/@Sophia_niro", target="_blank"><i class="fab fa-medium-m"></i></a>
          </li>
          <li class="social-item">
            <a href="mailto:sophieianiro.pro@gmail.com", target="_blank"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
