<div id="home">
  <div class="home-content">
    <%= image_tag "https://cloudinary-a.akamaihd.net/hopwork/image/upload/t_bigprofile/k5z1cjtilprpkxmgoyeg.jpg", class:"avatar-large" %>
    <h1 class="home-title">
      HELLO
    </h1>
    <div class="home-bio">
      <p>
        Passionnée par l’écriture, je suis convaincue que le contenu marketing a plus que sa place dans toute stratégie digitale. Levier pour votre business, valeur ajoutée pour votre image et élément de différenciation par rapport à vos concurrents : le contenu est un enjeu majeur aujourd’hui.
      </p>
      <p>
        Je me suis spécialisée dans la création de contenu et la stratégie d'inbound marketing, car je reste persuadée qu'une phrase bien tournée et un paragraphe bien rythmé ont plus de force que n'importe quel discours commercial.
      </p>
      <p>
        Chaque marque a une histoire à raconter, des valeurs à véhiculer, un caractère à affirmer. J'aide les entreprises à identifier les sujets et les canaux qui correspondent le mieux à leur personnalité, et à créer du contenu de qualité qui leur permet d'atteindre leurs objectifs.
      </p>
    </div>
  </div>
</div>
