<div id="work">
  <div class="page-content">
    <h1>
      CLIENTS
    </h1>
    <div class="content-desc">
      <p>
        J'ai eu l'occasion de collaborer avec plusieurs startups sur leur projet de création de contenu et de stratégie d'inbound marketing.
      </p>
      <div class="startups-logo">
        <div class="row">
          <% data.startups.startups.each do |startup| %>
            <div class="col-xs-6 col-md-3">
              <div class="card-logo" style="background-image: url(<%= startup["logo"] %>);">
                <a class="card-link" href=<%= startup["link"] %> ></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="workshop-video">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" type="text/html" src="https://www.youtube.com/embed/gd6nF6DMO80?autoplay=0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
